<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Home</title>
  </head>
  <body>
    


  <!-- navbar -->
    
    <br><br><br><br><br><br><br><br>
    <h1><div class="title">TradePost</div></h1>
    <br>
    <a href="signup" style="text-decoration:none"><p>Sign up</p></a>
    <p></p>
    <a href="login" style="text-decoration:none"><p>Log in</p></a>

  
  </body>
</html>